.search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}


.search-result__title {
  margin: 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.27;
  color: $dark-blue-color;
  width: calc(100% - 90px);

  span {
    padding-top: 2px;
  }

  &:hover,
  &:focus {
    span {
      color: $white-color;
      background-color: $putty-color;
    }
  }

  &:active {
    opacity: 0.8;
  }

  @include mobile {
    width: 100%;
  }
}

.search-result__text {
  width: 100%;
  margin-top: 5px;

  font-size: 15px;
  line-height: 1.73;
  color: $putty-color;

  p {
    margin: 0;
    line-height: 22px;
    width: 78%;
  }

  p + .search-result__date {
    margin-top: 9px;
  }

  @include mobile {
    flex-grow: 5;
    margin-top: 12px;
  }
}

.search-result__date {
  min-height: 22px;
}

.search-result__type {
  margin-left: 10px;
  width: 80px;

  font-size: 10px;
  text-align: right;
  color: $putty-color;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  @include mobile {
    order: 2;

    margin-left: 10px;
    margin-top: 19px;
    max-width: 80px;
    width: auto;
    transform: none;

    & + .search-result__text {
      width: calc(100% - 90px);
    }

    &[data-name='photo'],
    &[data-name='video'],
    &[data-name='news'], {
      margin: 0;
      position: relative;
      width: 100%;
      max-width: none;
      text-align: right;

      transform: translateY(-15px);
      & + .search-result__text {
        width: 100%;
      }
    }
  }
}
