.page-counter {
  color: $putty-color;

  &__current {
    margin-right: 4px;
  }

  &__devider {
    margin-right: 4px;
  }

  &--one-news {
    position: absolute;
    right: -2px;
    bottom: -34px;
  }

}
