.carousel__wrapper {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;

  justify-content: flex-start;
  align-items: flex-start;

  list-style: none;

  transform: translateX(1);
  transition: transform 0.5s;
  will-change: transform;
}

.carousel__item {
  padding-right: 60px;
  flex-shrink: 0;

  &--main-gallery {
    width: 100%;
  }
}
