extends layouts/_layout
include components/_header
include components/_page-title
include components/_history
include components/_gallery-slider
include components/_card
include components/_card-tile
include components/_person
include components/_event-info


block title
  | О нас

block header
  +header('Олимпиада')

block main
  main.about
    +pageTitle('История','about')

    +history(data.aboutUs[0])

    .container
      h1.playbill-page-header__title Карточка "большая"
      ul.carousel__wrapper
        li.main-section__item.carousel__item
          +card(data.events[0])(className='main-section__events-card card--events')

      h1.playbill-page-header__title Карточка "средняя"
      ul.playbill__card-list.fill-content
        li.playbill__card-item
          +card-tile(data.playbillTileEvents[0], 'playbill')

      h1.playbill-page-header__title Участники
      div.about__persons
        +person(data.eventInfo.author, '--blue')
        +person(data.eventInfo.author)
        article.carg.comitet__card
          a.people__link(href='#')
            .people__image
              img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
            h3.people__name Кристиан Фридель
          span.people__profesion Режиссер, АТТИС
          span.people__from Греция


      h1.playbill-page-header__title Список "термин: описание"
      +event-info(data.eventInfo.generalInfo, 'event')


      h1.playbill-page-header__title Текст отзыва
      p.reviews__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis asperiores, ad, obcaecati quasi voluptates minus quos perferendis fugiat quisquam cum repudiandae magni blanditiis assumenda laborum exercitationem. Eaque quod fugit ipsa.

      div.rambler-share(data-id='1')

      h1.playbill-page-header__title Текст на странице события
      .event__about-author
        p
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam officia animi, nostrum mollitia provident nam, ut eius enim eaque cum similique facilis? Ipsam eligendi eius animi ratione dolores ab corrupti.
        a.event__additional-link.link И ссылка!
      h1.playbill-page-header__title Системное сообщение
      div.subscription__popup
        span.subscription__popup-text Новый пароль успешно отправлен на Ваш адрес электронной почты
        button.subscription__popup-close

      h1.playbill-page-header__title Кнопка-ссылка
      div.about__link-inner
        a.request-info__link.dark-link.request-info__link--request Заявка
        <p class="request-info__desc">Вы можете купить билеты в кассе театра или забронировать<br><span>по тел.:</span><a href="tel:8 (567) 45-90-5">8 (567) 45-90-5</a></p>

      h2.related-events__title Я заголовок на странице событий

      a.footer__link Я - ссылка из подвала
      h1
      a.link Я - просто ссылка

      div.about__title-inner
        h1.event-page-header__title Я большой заголовок всяких событий
        h1.event-page-header__title.event-page-header__title--mid А я средний заголовок всяких событий

      h1.playbill-page-header__title Контакты
      ul
        <li class="addresses__item">
          <div class="addresses__item-wrap"><a class="addresses__title" href="#">Офис фестиваля</a><span class="addresses__name">пл. Островского, 6, Санкт-Петербург</span></div>
          <div class="addresses__item-wrap"><a class="addresses__phone">8 812 567-90-84</a><a class="addresses__mail">info@theatreolympics2019.com</a></div>
        </li>

      h1.playbill-page-header__title Резульат поиска
      ul.search-results__list
        <li class="search-results__item">
          <div class="search-results__result search-result container"><a class="search-result__title" href="#"><span>Театр «великих слез и великого смеха»: БДТ отмечает вековой юбилей</span></a>
            <p class="search-result__type" data-name="photo">фото</p>
            <div class="search-result__text">
              <p class="search-result__date">19—06—2019</p>
            </div>
          </div>
        </li>

block footer
  include components/_footer
