extends layouts/_layout
include components/_header
include components/_page-title
include components/_history
include components/_gallery-slider

block title
  | Международный комитет

block header
  +header('Олимпиада')

block main
  main.about
    +pageTitle('Международный комитет','about')

    section.history
      .history__title У истоков Олимпийского театрального движения стояли классики мирового театра — режиссеры Теодорос Терзопулос, Юрий Любимов, Хайнер Мюллер, Тадаси Судзуки, Роберт Уилсон.
      .comitet
        h2.comitet__title Международный комитет 2019
        ul.comitet__list
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
          li.comitet__item
            article.carg.comitet__card
              a.people__link(href='#')
                .people__image
                  img(width='164' height='210' src='img/people/people-1.jpg' srcset='img/people/people-1@2x.jpg 2x' alt='Теодорос Терзопулос')
                h3.people__name Теодорос Терзопулос
              span.people__profesion Режиссер, АТТИС
              span.people__from Греция
      .rambler-share


block footer
  include components/_footer
