extends layouts/_layout
include components/_header
include components/_card
include components/_request-acc

block title
  | Театральная олимпиада 2019 | Личный кабинет

block meta
  link(href="libs/nice-select/nice-select.css", rel="stylesheet")

block header
  +header

block main
  main.lk
    h1.visually-hidden Личный кабинет
    .lk__top
    section.lk__respas
      h2.lk__respas-title Сбросить пароль
      form.lk__editor-form(method='POST' action='#')
        p.lk__editor-part
          input.lk__editor-input(type='password' id='new-password' name='password')
          label.lk__editor-label(for='new-password') Новый пароль
          span.invalid-text
        p.lk__editor-part
          input.lk__editor-input(type='password' id='repet-password' name='password')
          label.lk__editor-label(for='repet-password') Повторите пароль
          span.invalid-text
        button.lk__editor-btn(type='submit') Сохранить
block footer
  include components/_footer
