.participant-page-header {
  background-color: $pampas-color;

  @include desktop {
    & .event-page-header__top-group {
      top: 184px;
    }
  }

  @include tablet {
    .event-page-header__back-link {
      &::before {
        margin-top: -1px;
      }
    }
  }

  @include mobile {
    .event-page-header__back-link {
      &::before {
        margin-top: 0;
      }
    }
  }

  @media (max-width: 375px) {
    background: linear-gradient(to bottom, $pampas-color 0, $pampas-color 500px, transparent 500px);
  }
}

.participant-page-header__container {
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 750px;
  max-height: 750px;
  padding-top: 110px;
  padding-right: 110px;
  padding-bottom: 60px;

  @include desktop {
    padding-right: 0;
    justify-content: center;
  }

    @media (max-width: 900px) {
      justify-content: flex-end;
    }

  @include mobile {
    flex-direction: column;
    padding-top: 227px;
    padding-right: 0;

    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    max-height: none;
  }

  @media (max-width: 375px) {
    padding-bottom: 0;
  }
}

.participant-page-header__top-group {
  left: 0;
  @include mobile {
    .event-page-header__back-link {
      &::after {
        top: 6px;
      }
    }

  }
}

.participant-page-header__image {
  position: relative;

  width: 367px;
  height: 470px;

  img {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;

    object-fit: cover;
  }

  @include mobile {
    margin-bottom: 40px;
    max-width: 375px;
    width: 100%;
    height: 480px;
  }

  @media (max-width: 375px) {
    align-self: center;
    width: 100vw;
    height: auto;
    padding-top: 143.28%;

    img {
      height: auto;
      width: 100%;
    }
  }

  // @include mobile-s {
  //   width: 100vw;
  // }
}

.participant-page-header__content {
  display: flex;
  flex-direction: column;
  max-width: 448px;
  width: 448px;
  min-height: 482px;
  margin-bottom: -6px;
  margin-left: 80px;

  @include desktop {
    margin-left: 30px;
    max-width: 280px;
  }

  @include mobile {
    width: auto;
    max-width: none;
    min-height: auto;
    margin-left: 0;
  }
}

.participant-page-header__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 50px;

  font-weight: normal;
  font-size: 50px;
  line-height: 1.2;
  color: $dark-blue-color;

  @include desktop {
    font-size: 32px;
    line-height: 1.19;
  }

  @include mobile {
    margin-bottom: 3px;
  }
}

.participant-page-header__brief-info-list {
  @include reset-list;

  font-size: 18px;
  line-height: 1.33;
  color: $putty-color;

  @include mobile {
    margin-bottom: 27px;
  }
}

.participant-page-header__brief-info-item {
  margin-bottom: 35px;

  @include desktop {
    font-size: 18px;
    line-height: 1.33;
  }

  @include mobile {
    margin-bottom: 8px;
  }
}
