div.template#filter-result-template(class='playbill-page-header')
  div.filter-result(class='playbill-page-header__filter-result')
    p.filter-result__text
    button.filter-result__button(type="button" aria-label='удалить фильтр')
      svg()
        use(xlink:href='img/sprite/sprite.svg#icon-close')
