mixin filter
  aside.platform-filter
    .platform-filter__wrapper
      form.platform-filter__form(method='GET' action='#')
        h2.platform-filter__title Фильтр
        fieldset.platform-filter__field
          h3.platform-filter__type Город
