footer.footer
  span.footer__rights ⓒ All rights reserved.
  a.footer__link(href='#') Политика конфиденциальности
  span.footer__credits разработка
    a(href='#')
      svg(width='70' height='11' aria-hidden='true')
        use(xlink:href='img/sprite/sprite.svg#greenlabs')
      span.visually-hidden Greenlabs
