//переменные цветов
$white-color: #ffffff;
$black-color: #000000;
$pampas-color: #f4f2ee;
$pearl-bush-color: #e2dbce;
$putty-color: #bbae92;
$dark-blue-color: #293277;

//playbill
$playbill-header-color: $pampas-color;

$font: 'p22_pro', 'Arial', sans-serif;

$media-md: 1399px;
$media-sd: 999px;
$media-tb: 767px;
$media-s: 374px;
$media-xs: 747px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$pampas-color: #f4f2ee;
